
textarea.inputBox {
  width:100%;
  margin: auto;
  border: 2px solid green;
  background: lightyellow;
}
button#plotButton {
	border: 2px solid black;
	background: lightgrey;
}
div.plotBox {
	width:500px;
	height:500px;
	margin: auto;
  border: 2px solid red;
}